{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <title>Fleming AI</title>
    <link rel="stylesheet" href="{% static 'info/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'info/css/custom.css' %}" />
  </head>
  <body>
    {% include 'info/nav.html' %}
    <div id="init" class="row form-group w-25">
      <label for="user" class="col-sm-1 pl-3">Name</label>
      <div class="col-sm-4">
        <input type="text" class="form-control w-25" id="user" />
      </div>
      <div class="col-sm-2">
        <a id="start" class="btn btn-primary" data-toggle="collapse" href="#collapseContainer" role="button"
          aria-expanded="false" aria-controls="collapseContainer">Start
        </a>
      </div>
    </div>
    <div class="row container collapse" id="collapseContainer">
      <div class="jumbotron col-sm-8 mt-1">
        <h1 class="jumbotron-heading text-xs-center"></h1>
        <p class="lead text-xs-center">
          This is a web app that allows you to talk to Jon's brain.
        </p>

        <hr class="my-2" />

        <div class="row">
          <div class="col-xs-12 offset-xs-12">
            <p id="message"></p>
            <ul class="list-group chat-log js-chat-log"></ul>
            <div class="input-group input-group-lg">
              <input
                type="text"
                class="form-control js-text"
                placeholder="Click the microphone and say something..."
              />
              <span class="input-group-btn">
                <input
                  id="mic"
                  type="image"
                  src="{% static 'info/images/mic.png' %}"
                /><br />
                <button class="btn btn-primary js-say">Submit</button>
              </span>
            </div>
          </div>
        </div>

      </div>


      <script src="{% static 'info/js/charapiclient.js' %}"></script>
      <div id="myDiv" class="col-sm-3" style="width:250px; height:200px;"></div>

      <script>
        var character;
        document.addEventListener("DOMContentLoaded", function() {
            character = CharApiClient.setupDiv("myDiv", {
                width:250,
                height:200,
                endpoint:"https://charapi.jonfleming.net/animate",
                character:"SusanHead",
                cache:1
            });
        })

        document.getElementById("myDiv").addEventListener("characterLoaded", function() {console.log("characterLoaded")});
        document.getElementById("myDiv").addEventListener("autoStart", function() {console.log("autoStart")});
        document.getElementById("myDiv").addEventListener("playComplete", function() {console.log("playComplete")});
        document.getElementById("myDiv").addEventListener("embeddedCommand", function() {console.log("embeddedCommand")});
      </script>
    </div>

    <hr class="my-3" />
    <div class="row" style="display: none">
      {% csrf_token %}
      <textarea id="log" rows="20" cols="100"></textarea>

      <div id="result"></div>
    </div>
    <script>
      const micpng = "{% static 'info/images/mic.png' %}";
      const micgif = "{% static 'info/images/mic.gif' %}";
      const chatterbotUrl = "{% url 'info:chatterbot' %}";
    </script>
    <script src="{% static 'info/js/jquery.js' %}"></script>
    <script src="{% static 'info/js/js.cookie.js' %}"></script>
    <script src="{% static 'info/js/bootstrap.js' %}"></script>
    <script src="{% static 'info/js/chromecheck.js' %}"></script>
    <script src="{% static 'info/js/speech.js' %}"></script>
    <script src="{% static 'info/js/chat.js' %}"></script>
    <script>
      $("#user").keypress(function(e){
        if(e.which == 13) {
          $("#start").click();
        }
      });
      $("#start").click(function() {        
        voicePrompt();
        $("#init").hide();
      });
    </script>
    <script type="text/javascript">
      {% comment "sitePal" %} 
      //AC_VHost_Embed(7817314,300,400,'',1,1, 2714913, 0,1,0,'56d0583e963c97c521d6a347573c325c',0);

      function vh_sceneLoaded()
      {
        //the scene begins playing, add actions here
        //sayText('Welcome to our text to speech A P I example',2,1,3);
      } {% endcomment %}
    </script>
  </body>
</html>
