{% load static%}
<!doctype html>
<html>
  <head>
    <title>Django ChatterBot Example</title>
    <link rel="stylesheet" href="{% static 'info/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'info/css/custom.css' %}"/>
  </head>
  <body>

    {% include 'info/nav.html' %}

    <div class="container">

      <div class="jumbotron mt-1">
        <h1 class="jumbotron-heading text-xs-center"></h1>
        <p class="lead text-xs-center">
          This is a web app that allows you to talk to Melissa.
        </p>

        <hr class="my-2">

        <div class="row">
          <div class="col-xs-12 offset-xs-12">
            <p id="message"></p>
            <ul class="list-group chat-log js-chat-log">
            </ul>
            <div class="input-group input-group-lg">
              <input type="text" class="form-control js-text" placeholder="Click the microphone and say something..."/>
              <span class="input-group-btn">
                <input id="mic" type="image" src="{% static 'info/images/mic.png' %}" /><br/>
                <button class="btn btn-primary js-say">Submit</button>
              </span>
            </div>
            
          </div>
        </div>

      </div>

    </div>

    <hr class="my-3">
    <div class="row" style="display: block;">
      {% csrf_token %}
      <textarea id="log" rows='20' cols='100'></textarea>

      <div id="result"></div>
    </div>
    <script>
      const micpng = "{% static 'info/images/mic.png' %}";
      const micgif = "{% static 'info/images/mic.gif' %}";
      const chatterbotUrl = "{% url 'info:chatterbot' %}";
    </script>
    <script src="{% static 'info/js/jquery.js' %}"></script>
    <script src="{% static 'info/js/js.cookie.js' %}"></script>
    <script src="{% static 'info/js/bootstrap.js' %}"></script>
    <script src="{% static 'info/js/chat.js' %}"></script>
    <script src="{% static 'info/js/speech.js' %}"></script>
 </body>
</html>
