[Unit]                                                         
Description=Melissa                                       
After=network.target                                           
                                                               
[Service]                                                      
Restart=no                                                 
User=jon                                                    
Group=nogroup                                                  
                                                               
Environment=PATH=/usr/bin:/usr/local/bin
Environment=neouri=bolt://fleming.technology:7687
Environment=neousername=neo4j
Environment=neopassword=amicus
Environment=openapi_key=sk-KRP4LkgbXNYE5LG6oLWR5ezRR3hx6bHyIQKzBUrI
WorkingDirectory=/home/jon/projects/melissa                       
ExecStart=/home/jon/projects/melissa/start.sh
                                                               
[Install]                                                      
WantedBy=multi-user.target                                     
