<h1>{{ statement.statement_text }}</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %} {% csrf_token %}

<table>
  <tr>
    <td>Statement text</td>
    <td>{{ statement.statement_text }}</td>
  </tr>
  <tr>
    <td>Search text</td>
    <td>{{ statement.search_text }}</td>
  </tr>
  <tr>
    <td>Conversation</td>
    <td>{{ statement.conversation }}</td>
  </tr>
  <tr>
    <td>Created at</td>
    <td>{{ statement.created_at }}</td>
  </tr>
  <tr>
    <td>Response to</td>
    <td>{{ statement.in_response_to }}</td>
  </tr>
  <tr>
    <td>Search in Response to</td>
    <td>{{ statement.search_in_response_to }}</td>
  </tr>
  <tr>
    <td>Persona</td>
    <td>{{ statement.persona }}</td>
  </tr>

  <form action="{% url '' %}" method="post">
    <input type="submit" value="Back" />
  </form>
</table>
